@use "../abstracts/variables" as *;

.dropdown {
	display: inline-block;
	width: 100%;
	padding: $spacing-sm $spacing-lg $spacing-sm $spacing-sm;
	background-color: $input-background-color;
	border: 1px solid $border-primary-color;
	border-radius: $border-radius-sm;
	color: $text-primary-color;
	cursor: pointer;
	transition: all $transition-super-fast;
	font-size: $font-size-base;
	line-height: 1.5;
	appearance: none;
	background-image: url("@icons/chevron_down.svg");
	background-repeat: no-repeat;
	background-position: right $spacing-sm center;
	background-size: 16px;

	&:hover:not(:disabled) {
		border-color: $primary-color;
	}

	&:focus {
		outline: none;
		border-color: $primary-color;
		box-shadow: 0 0 0 0.125rem rgba($primary-color, 0.25);
	}

	&:disabled,
	&--disabled {
		background-color: $input-disabled-background-color;
		cursor: not-allowed;
		color: $text-muted-color;
		opacity: 0.6;
	}

	option {
		color: $text-primary-color;
		background-color: $background-alt;

		&:disabled {
			color: $text-muted-color;
		}
	}
}
