// Normalize CSS in order to have a consistent baseline across browsers
@use "normalize.css/normalize.css";

@use "abstracts/functions";
@use "abstracts/mixins";
@use "abstracts/variables";

@use "base/globals";

@use "layouts/layouts";
@use "layouts/navbar";

@use "themes/boards/defaultBoard";
@use "themes/pieces/defaultPieces";

@use "utils/utilities";
